In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv")

In [3]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
data.to_csv("housepricedata.csv",index=False)

In [5]:
import numpy as np
import matplotlib.pyplot as plt

In [6]:
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler

In [7]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [8]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [9]:
data.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [10]:
X=data.drop(["price"],axis=1)

In [11]:
X

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [12]:
y=data.price

In [13]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [14]:
X.columns

Index(['id', 'date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: float64(4), int64(15), object(1)
memory usage: 3.3+ MB

In [16]:
X=X.drop(["id","date"],axis=1)

In [17]:
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [18]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [19]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [20]:
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
20102,4,2.50,2990,6037,2.0,0,0,3,9,2990,0,2013,0,98045,47.4766,-121.735,2990,5992
2735,4,2.75,2710,45963,2.0,0,0,3,9,2710,0,1995,0,98045,47.4745,-121.724,2710,33955
11469,4,1.50,1620,5444,1.5,0,0,3,8,1620,0,1955,0,98125,47.7065,-122.297,1620,6912
477,3,1.50,1050,4590,1.0,0,0,3,7,850,200,1949,0,98115,47.6943,-122.290,1770,5400
4366,3,2.50,1750,3900,2.0,0,0,3,8,1750,0,1977,0,98052,47.6638,-122.129,1750,5700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16059,5,2.75,2500,7140,1.0,0,0,4,7,1250,1250,1968,0,98008,47.6225,-122.108,2230,8400
2798,4,2.50,1930,7014,2.0,0,0,3,8,1930,0,1994,0,98042,47.3921,-122.163,1990,7920
11531,4,2.50,3360,13636,2.0,0,0,3,10,3360,0,1987,0,98074,47.6373,-122.042,2980,10615
16721,4,2.25,3133,16197,2.0,0,0,3,9,2533,600,1965,2010,98166,47.4255,-122.338,3090,15588
11179,4,1.50,1380,7800,1.0,0,0,3,7,1080,300,1928,0,98125,47.7093,-122.306,1770,7503

In [21]:
X_test

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
17465,4,2.50,2620,19864,2.0,0,0,4,8,2620,0,1984,0,98052,47.7014,-122.122,2500,13285
8151,3,2.50,1960,7200,1.0,0,0,4,8,980,980,1940,0,98118,47.5655,-122.270,1440,7200
4892,2,1.75,3490,88909,1.0,0,3,3,10,2320,1170,1980,0,98006,47.5462,-122.112,3490,40185
966,3,1.00,1320,9000,1.0,0,0,3,7,1320,0,1966,0,98001,47.3461,-122.272,1320,9800
2955,3,1.00,1080,5250,1.0,0,0,4,7,1080,0,1947,0,98133,47.7309,-122.336,1100,5250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17566,5,3.00,3480,15185,2.0,0,0,4,8,3480,0,1964,0,98040,47.5757,-122.216,3030,14257
10831,3,2.75,3176,13391,2.0,0,3,4,9,2726,450,1985,0,98198,47.3429,-122.330,3470,12779
9066,4,2.50,3320,38043,2.0,0,0,3,9,3320,0,1997,0,98053,47.6504,-122.004,3170,42621
3330,3,2.25,1440,9806,1.0,0,0,3,7,1440,0,1965,0,98030,47.3857,-122.212,1590,9782
4851,5,3.25,4115,7910,2.0,0,0,3,9,4115,0,2014,0,98053,47.6847,-122.016,3950,6765

In [22]:
y_train

20102    594491.0
2735     535000.0
11469    451000.0
477      438924.0
4366     453000.0
           ...
16059    530000.0
2798     310000.0
11531    765000.0
16721    685000.0
11179    477000.0
Name: price, Length: 16209, dtype: float64

In [23]:
y_test

17465    650000.0
8151     635000.0
4892     952000.0
966      196500.0
2955     329500.0
           ...
17566    970000.0
10831    819000.0
9066     685000.0
3330     253000.0
4851     988830.0
Name: price, Length: 5404, dtype: float64

In [24]:
scaler=StandardScaler()

In [25]:
scaled_data=scaler.fit_transform(X_train)

In [26]:
scaled_test_data=scaler.transform(X_test)

In [27]:
scaled_test_data[0]

array([ 0.68970711,  0.50024187,  0.58991592,  0.11626998,  0.93226802,
       -0.08599941, -0.30438997,  0.90133192,  0.29016367,  0.99815314,
       -0.65958107,  0.44276457, -0.20941177, -0.48185632,  1.01776377,
        0.65416391,  0.74508996,  0.0218339 ])

In [28]:
from sklearn.svm import SVR

model=SVR()

model.fit(scaled_data,y_train)

SVR()

In [29]:
pred=model.predict(scaled_test_data)

In [30]:
pred

array([452258.36341702, 451094.9819624 , 451909.29327692, ...,
       452675.09794955, 449955.30148759, 452596.72757255])

In [31]:
y_test

17465    650000.0
8151     635000.0
4892     952000.0
966      196500.0
2955     329500.0
           ...
17566    970000.0
10831    819000.0
9066     685000.0
3330     253000.0
4851     988830.0
Name: price, Length: 5404, dtype: float64

In [32]:
model.predict([[-0.39232295, -0.79457496, -0.63188034, -0.07859531, -0.91767589,
       -0.08636268, -0.30323606,  0.90962588, -0.55930493, -0.35171583,
       -0.65644691, -0.03658169, -0.20893008, -0.61340088, -0.67814149,
        3.25524916, -0.69249512,  0.03459714]])

array([450708.40133422])

In [33]:
### grid/random

In [34]:
from sklearn.metrics import r2_score

In [35]:
r2_score(y_test,pred)

-0.048236865912391735